*{ /* all bage */ 
padding: 0;
margin: 0;
   box-sizing: border-box; /* حجم البو */
   list-style: none;
   text-decoration: none;
   font-family: 'Comic Sans MS', 'sans-serif'; /* size type */

}
meta {
  display: none;
}

body {
background-color:#0C0C0C ; 
color: #fff ;
}

header{ /* الايطار العلوي بالكامل */
  display: flex;
align-items: center;
justify-content: space-between;
padding: 20px; /* ايطار الكلمات العلية  */
}

.logo{
font-size: 35px;
font-weight: bold;
color: yellowgreen;
}

.navbar { /* موقع الكلمات الي فوق وين تكون */
margin-left: 100px;
margin-right: 100px;
  }

.navbar ul{ /* موقع الكلمات و عرضها */
display: flex ;
align-items: center;
gap: 30px; /* بعد الكلمات */
}

.navbar ul li a { /* لون الكلمات  */
color: #fff;
transition: .4s; /* التنقل بين القيم الجديد والقديمة */
}

.navbar ul li a:hover{ /* تاثير تحديد على الكلمات بالكامل  */
color: rgb(0, 255, 115); /*اختصار الى الالوان التالية red ,  green , blue */
text-decoration: underline; /* اذا حددت على الكلمة ايش يجيك حطيت خط */
}

.bth {
border: none;
outline: none;
background-color: yellowgreen;
color: #000;
font-size: 18px;
font-weight: bold;
border-radius: 6px; /* تخلي الزواية منحنية */
padding: 5px; /* حجم الايطار وتقليله */
cursor: pointer;
box-shadow: 0 0 10px wheat; /* الضوء الي يطلع */
transform: .4s;
}


.bth:hover {
scale: 1.1;
box-shadow: 0 25px 15px yellowgreen;
}

.hero {
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center; /*  موقع العناصر عمودي*/
  justify-content: center; /*  موقع العناصر افقي*/
padding: 10px;
}

.hero-content{
  padding-left: 50px;
}
.hero-content p {
  color:whitesmoke;
  font-size: 15px;
  font-weight: bold;
  width: 90%;
}
.hero-content h1{
font-size: 40px;
font-weight: bold;
color: #fff;

}
.hero-content h2{
font-size: 40px;
font-weight: bold;
color: rgb(20, 143, 119);

}
.AboutMe h3{
color: #7e3a3a;
font-family: 'Comic Sans MS', 'sans-serif';
font-size: 25px;
}

.AboutMe p{
  color: #7e3a3a;
  font-family: 'Comic Sans MS', 'sans-serif';
  font-size: 15px;
  }
  

.social-me{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.bttt{
  border: 1.3px solid white;
  outline: none;
  background-color:transparent ;
  font-size: 19px;
  font-weight: bold;
  box-shadow: 0 0 10px white ;
  border-radius: 10px;
  padding:10px ;
  cursor: pointer;
  transition: .4s;

}

.bttt:hover{
background-color: yellowgreen;
color: #000;

}
.social-media {
display: flex;
align-items: center;
gap: 30px;

}
.social-media li {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.3px solid white;
  outline: none;
  box-shadow: 0 0 10px white;
  background-color: transparent;
  font-size: 17px;
   transition: .4s;
   cursor: pointer;
   border-radius: 50%;

}
.social-media li a{

  color: #fff;
  font-size: 19px;

}
.social-media li:hover{

  scale: 1.1;
  box-shadow: 0 22 30px yellowgreen;
}

.image{
width: 330px;
height: 330px;
background-color: transparent;
border: dotted 2px solid white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
margin-right: 50px;

}
.image img{
width: 400px;
height: 390px;
  border-radius: 15%;
margin-left: 250px; /* الصورة تنزاح الى اليمين شوي */
}

